<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="NuGet official package source" value="http://packages.nuget.org/v1/FeedService.svc/" />
		<add key="EventStore CI package source" value="http://www.myget.org/F/eventStore" />
	</packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
</configuration>